.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 50px;
  a{
    text-decoration: none;

  }
}

.primeiro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  .cadastrar{
    margin-right: 2rem;
  }
}

.tabela-venda{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  .table{
    margin: 3rem;
  }
}
