<div class="container">
  @if(loja){
    <div class="title">
      <h2>Produtos cadastrados na {{ loja.nome }}</h2>
    </div>


    <div class="actions-container">
      <button class="btn btn-primary" (click)="btnRedirect($event, 'produtosLoja/cadastro/' + loja.idloja)">Cadastrar produto na loja {{loja.nome}}</button>
      <div class="print-buttons">
        <button type="button" class="btn btn-secondary" [useExistingCss]="true" printSectionId="print-section" ngxPrint>Imprimir vendidos</button>
        <button type="button" class="btn btn-secondary" [useExistingCss]="true" printSectionId="print-section-not-sell" ngxPrint>Imprimir não vendidos</button>
      </div>
    </div>
  }

  <mat-stepper style="min-width: 100%;" orientation="vertical" class="stepper mt-5">
    <mat-step>
      <ng-template matStepLabel>Vendidos</ng-template>
      <div class="tabela-loja" id="print-section">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome do Produto</th>
              <th scope=col>Valor</th>
              <th scope="col">Marca</th>
              <th scope="col">Categoria</th>
              <th scope="col">Tamanho</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Total</th>
              <!-- <th scope="col"></th>
              <th scope="col"></th> -->
            </tr>
          </thead>
          <tbody>
            @for (produtoVendido of produtosVendidos; track produtoVendido.idgrupovenda) {
              @if (produtosVendidos) {
              <tr>
                <td>{{ produtoVendido.nome }}</td>
                <td>{{ produtoVendido.valor_unitario_venda| currency: 'BRL' }}</td>
                <td>{{ produtoVendido.marca }}</td>
                <td>{{ produtoVendido.categoria }}</td>
                <td>{{ produtoVendido.tamanho }}</td>
                <td>{{ produtoVendido.quantidade_vendido }}</td>
                <td>{{ produtoVendido.quantidade_vendido * produtoVendido.valor_unitario_venda| currency: 'BRL' }}</td>
              </tr>
            }
            @else if(!produtosVendidos) {
              <h3>Nenhum produto vendido</h3>
            }
            }
          </tbody>
        </table>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Não vendidos</ng-template>
      <div class="tabela-loja" id="print-section-not-sell">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome do Produto</th>
              <th scope=col>Valor</th>
              <th scope="col">Marca</th>
              <th scope="col">Categoria</th>
              <th scope="col">Tamanho</th>
              <th scope="col">Quantidade</th>
              <th scope="col" class="print-none"></th>
            </tr>
          </thead>
          <tbody>
            @for (produtoLoja of produtosLoja; track produtoLoja.idprodutoloja) {
              @if (produtoLoja) {
              <tr>
                <td>{{ produtoLoja.nome }}</td>
                <td>{{ produtoLoja.valor_unitario | currency: 'BRL' }}</td>
                <td>{{ produtoLoja.marca }}</td>
                <td>{{ produtoLoja.categoria }}</td>
                <td>{{ produtoLoja.tamanho }}</td>
                <td>{{ produtoLoja.quantidade_produto }}</td>
                  <td class="text-end btn-action no-print">
                      <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;" (click)="quantidadeMais(produtoLoja.idprodutoloja)">++</button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="quantidadeMenos(produtoLoja.idprodutoloja)">--</button>
                      <button style="margin-left: 1rem;" type="button" (click)="excluirProdutoLoja(produtoLoja.idprodutoloja)">
                        <img width="25px" height="25px" src="/delete-1-svgrepo-com.svg">
                      </button>
                  </td>
              </tr>
            }
            @else if (!produtoLoja) {
              <h3>Não há produtos não vendidos</h3>
            }
            }
          </tbody>
        </table>
      </div>
    </mat-step>
  </mat-stepper>

  <div>
    <button class="btn btn-secondary" (click)="btnRedirect($event, 'loja')">Voltar</button>
  </div>
</div>
