<div class="container">
  <div class="title">
    <h2>Categorias</h2>
  </div>

  <div class="actions-container">
    <button class="cadastrar" (click)="btnRedirect($event, 'cadastro-categoria')">Cadastrar Categoria</button>
    <input type="search" placeholder="Pesquisar categoria" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="tabela-categoria">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome da categoria</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (categoria of categorias; track categoria.nome) {
          <tr>
            <td>{{ categoria.nome }}</td>
            <td class="text-end btn-action">
              <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Editar</button>
              <button type="button" class="btn btn-danger btn-sm">Excluir</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div>
    <button (click)="btnRedirect($event, '')">Voltar</button>
  </div>
</div>

