<div class="container">
  <div class="title">
    <h2>Produtos</h2>
  </div>

  <div class="actions-container">
    <button class="cadastrar" (click)="btnRedirect($event, 'cadastro-produto')">Cadastrar produto</button>
    <input type="search" (keyup)="filtroProduto($event)" placeholder="Pesquisar produto" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="tabela-produto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome do produto</th>
          <th scope="col">Valor Unitário</th>
          <th scope="col">Marca do Produto</th>
          <th scope=col>Categoria</th>
          <th scope="col">Tamanho</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (produto of produtos; track produto.idproduto) {
          <tr>
            <td>{{ produto.nomeproduto }}</td>
            <td>{{ produto.valorunitario | currency: 'BRL' }}</td>
            <td>{{ produto.nomemarca }}</td>
            <td>{{ produto.nomecategoria }}</td>
            <td>{{ produto.nometamanho }}</td>
            <td class="text-end btn-action">
              <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;" (click)="btnRedirect($event, 'produto/editar/' + produto.idproduto)">Editar</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="btnRedirect($event, 'produto/excluir/' + produto.idproduto)">Excluir</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div>
    <button (click)="btnRedirect($event, '')">Voltar</button>
  </div>
</div>
